.main-screen {
  margin: 1em;
}
.card {
  margin-bottom: 1em;
}
.profile {
  width: 100%;
  height: 30%;
}
.profile-img {
  width: 100%;
  height: 100%;
  /* padding: 1em;
    margin-right: 1em; */
}

.profile-info {
  padding: 2em;
}
.profile-info-name {
  font-size: 2em;
}
.profile-info-i {
  font-size: 1.3em;
}
.profile-info-rate {
  font-size: 1.1em;
}
.fa-star {
  color: #ffb624;
}
.side-bar {
  width: 100%;
  height: 50%;
}

.rate{
    font-size: 2em;
}