<div class="card col-12">
  <div class="card-body">
    <h5 class="card-title rate-head d-inline">Comments</h5>
    <div *ngIf="comments.length !== 0; else nothing">
      <div class="card-text mt-3" *ngFor="let comment of comments">
        <app-tailor-comments
          [comment]="comment"
          *ngIf="comment.rate"
        ></app-tailor-comments>
      </div>
    </div>
  </div>
</div>

<ng-template #nothing>
  <div class="text-center mb-2 text-black-50">
    No one review this tailor yet.
  </div>
</ng-template>
