<div class="card col-12">
  <!-- Rate -->
  <section class="rate">
    <div class="card-body">
      <h5 class="card-title rate-head">Rate</h5>
      <div class="card-text">
        <div class="rate-body">
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i>
        </div>
        <div class="rate-text">Overall Rating</div>
        <div class="rate-review-counter">from 200 customer</div>
      </div>
    </div>
  </section>
</div>
