<div class="container main-screen" *ngIf="cust; else loading">
  <div class="row">
    <div class="col-12 col-lg-8">
      <div class="right-side">
        <!-- you send all user data here futuer hint -->
        <app-customer-information [user_info]="cust" [img]="custImg">
        </app-customer-information>
      </div>
      <!--  -->
    </div>
    <!-- end right side -->
    <!-- start left side  -->
    <div class="col-12 col-lg-4 order-last order-lg-last">
      <app-customer-requests> </app-customer-requests>
    </div>
  </div>
</div>
<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border text-info mx-auto mt-5" role="status"></div>
  </div>
</ng-template>
