mat-nav-list {
  background: rgb(224, 222, 222) !important;
  min-height: 800px;
}
:host .mat-icon {
  vertical-align: middle;
  margin-right: 1rem;
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  /* border-bottom: white 3px solid; */
}
.logo img {
  width: 100px;
  border-radius: 50%;
  background-color: white;
}
.logo h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #2e86ab;
  font-weight: bold;
}
.mat-divider {
  border-top-width: 2px;
  border-color: white;
  margin: 15px;
}
.mat-list-item {
  color: #3396c0 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  font-weight: bold;
}
.mat-list-item:hover {
  color: #f2f5f7 !important;
}
.mat-list-item ::ng-deep .mat-list-item-content {
  border-radius: 5px;
  margin: 0 8px;
}
.mat-list-item ::ng-deep .mat-list-item-content:hover {
  background: #2c3344 !important;
}
.list-item-active {
  color: #f2f5f7 !important;
}
.list-item-active ::ng-deep .mat-list-item-content {
  background: #2c3344 !important;
}
.list-item-active ::ng-deep .mat-list-item-content:hover {
  background: #2c3344 !important;
}
.mat-subheader {
  color: #818cf8;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
