/* PLEASE STICK TO MOBILE FIRST TECHNIQU */
.card {
  border-radius: 15px;
}
.tailor-name {
  color: #284E78;
  font-weight: bold;
  font-size: 25px;
}
.info-tailor img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info-tailor .star .fa-star {
  color: #ffc93c;
  font-size: 20px;
}
.btn{
  background-color: #2e86ab;
  border: 1px solid white;
}
.btn:hover{
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}
@media screen and (min-width: 768px) {
  .info-tailor img {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
}
