/* PLEASE STICK TO MOBILE FIRST TECHNIQU */
.card {
  border-radius: 15px;
}
.tailor-name {
  color: #d7263d;
  font-weight: bold;
  font-size: 25px;
}
.info-tailor img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.info-tailor .star .fa-star {
  color: #ffc93c;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .info-tailor img {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 0;
  }
}
