<div class="info-tailor">
  <div class="card mb-5 mt-5" style="max-width: 90%; margin: auto">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src={{tailor.avatar}}
          alt={{tailor.name}}
          style="max-width: 100%; min-height: 100%"
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5
            class="tailor-name card-title mb-1"
          >
            {{ tailor.name }}
          </h5>
          <h6 class="card-text mb-2">
            <small class="text-muted"
              >One of the most famous tailors in the world</small
            >
          </h6>
          <div class="profile-info-rate" *ngIf="review">
            <!--  nancy will give api response all these data -->
            <span>
              <div class="stars-outer">
                <div class="stars-inner" [ngStyle]="myStyle"></div>
              </div>
              <!-- <span class="number-rating"></span> -->
            </span>
            <p class="card-text">
              <small
                class="text-muted"
                *ngIf="review && review.count != 0; else New"
                >Rating of {{ review.count }} people</small
              >
              <ng-template #New>
                <small class="text-muted">Joined Recently</small>
              </ng-template>
            </p>
            <!-- <br />
            <span *ngIf="!user_info.comments"> No one review this tailor yet </span> -->
          </div>
          <p class="card-text">
            <small class="text-muted"
              >Specialization: {{ tailor.designFor }}</small
            >
          </p>
          <p class="card-text mb-3" style="font-weight: bold">
            {{ tailor.about }}
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
          <div class="row">
            <div class="col-12 col-md-4">
              <button
                type="button"
                class="btn btn-primary"
                (click)="goToTailorProfile(tailor._id)"
              >
                Call Me
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
