.row-registration ,.card{
    background-color: white;
    border-radius: 15px;
    min-height: 450px;
}

/* .img1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */


/* apply some styles on SignUp button */

.btnSignUp{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: #2e86ab;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
.btnSignUp:hover{
  background-color: white;
  color: #2e86ab;
  border: 2px solid #2e86ab;
}

/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow{
  box-shadow: none;
}
