.row-registration {
    background-color: white;
    box-shadow: 10px 10px 20px gray;
    border-radius: 30px;
}

/* .img1 {
    width: 100%;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} */


/* apply some styles on SignUp button */

.btnSignUp{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
.btnSignUp:hover{
  background-color: white;
  color: black;
  border: 2px solid;
}

/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow{
  box-shadow: none;
}


/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173, 207, 190);
}

.row {
  background-color: white;
  box-shadow: 10px 10px 20px gray;
}

.sec {
  border-radius: 30px !important;
}

.btn1 {
  border: none;
  outline: none;
  width: 100%;
} */
