.card {
  margin-bottom: 1em;
  border-radius: 15px;
}

.my-gallery-head {
  text-align: left;
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 1em;
  padding-bottom: 1em;
}

.my-gallery-body {
  margin: 2em;
}

.scroll {
  max-height: 510px;
  overflow-y: auto;
}

.model-img {
  width: 15em;
  height: 15em;
}
