<!--Gallery section -->
<div class="card col-12 mx-auto">
  <div class="card-body">
    <h5 class="card-title my-gallery-head d-inline">My Gallery</h5>
    <button
      class="d-inline float-end btn btn-primary btn-sm"
      data-bs-toggle="modal"
      data-bs-target="#gallary"
    >
      edit
    </button>
    <!-- gallary pop-up -->
    <div
      class="modal fade"
      id="gallary"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">change image</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <label for="formFile" class="form-label">select image</label>
            <input class="form-control" type="file" id="formFile" />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">save change</button>
          </div>
        </div>
      </div>
    </div>
    <!--  -->
    <div
      id="carouselExampleFade"
      class="carousel slide carousel-fade my-gallery-body"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div
          class="carousel-item border border-5"
          *ngFor="let image of user_info.gallary; let i = index"
          [ngClass]="{ active: i == 0 }"
        >
          <img
            src="{{ image }}"
            class="d-block w-100"
            style="height: 500px !important"
            alt="..."
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleFade"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!--  -->
</div>
