.card {
  margin-bottom: 1em;
}

.my-gallery-head {
  text-align: left;
  font-size: 1.7rem;
  margin-left: 1em;
  padding-bottom: 1em;
}

.my-gallery-body {
  margin: 2em;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
}

.model-img {
  width: 10em;
  margin: 3px;
  height: 10em;
}
