.card {
  border-radius: 15px;
}

.profile-head h5 {
  color: #333;
  font-weight: bold;
  /* margin-bottom: 2.5%; */
}

.profile-head .nav-tabs {
  margin-bottom: 6px;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #2e86ab;
}

.profile-head h5 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.nav-item .nav-link.active{
  color: #2e86ab !important;
}
.nav-item .nav-link{
  color: rgb(22, 22, 22);
}

.profile-tab label {
  font-weight: bold;
}

.profile-tab p {
  font-weight: 600;
  color: #2e86ab;
}

.profile-img{
  border-radius: 50%;
  height: 210px;
  width: 210px;
}

/*poup up image */

.img-pop{
  width: 450px;
  max-height: 400px;
  border-radius: 10px;
}

.modal-header h5 {
  font-weight: bold;
}

.cm {
  font-size: small;
}

.image-view {
  position: relative;
}
.image-view .cls {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.6;
  background-color: #A0E7E5;
  padding: 10px;
  border-radius: 50%;
}


/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched,
select.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow{
  box-shadow: none;
}
.btn-primary{
  background-color: #2e86ab;
    color: white !important;
    border: 1px solid white;
}
.btn-primary:hover{
  background-color: white;
    color: #2e86ab !important;
    border: 2px solid #2e86ab;
}
