.main{
    overflow-x: hidden;
}

i{
    font-size: 25px;
}
.fa-eye{
    color: #185ADB;
}
.fa-user-edit{
    color: #FFC107;
}
.fa-user-times{
    color: #CF0000;
}
td{
    font-weight: bold;
}
th{
    font-size: 20px;
    font-weight: bold;
}


/* change border color to red when invalid */

input.ng-invalid.ng-touched {
    border: 1.5px solid red;
  }
  
  /* change border color to green when invalid */
  
  input.ng-valid.ng-touched {
    border: 1.5px solid green;
  }
  
  /* remove default input border shadow */
  
  .no-box-shadow{
    box-shadow: none;
  }




