.main {
  overflow-x: hidden;
}

i {
  font-size: 25px;
}
.fa-eye {
  color: #3396c0;
}
.fa-user-edit {
  color: #ffc107;
}
.fa-user-times {
  color: #cf0000;
}
td {
  font-weight: bold;
}
th {
  font-size: 20px;
  font-weight: bold;
}

/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow {
  box-shadow: none;
}

.fa-backward,
.fa-forward {
  font-size: 12px;
}

.page-link {
  background-color: #2e86ab;
  color: white;
  border: 1px solid #3396c0;
  font-size: 13px;
}
.page-link:hover {
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}

.page-link-left {
  border-top-left-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
  font-size: 1px;
  margin-top: 3px;
}

.page-link-right {
  border-top-right-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
  font-size: 1px;
  margin-top: 3px;
}
