i{
    font-size: 25px;
    cursor: pointer;
}
.fa-eye{
    color: #3396c0;
}
.fa-trash-alt{
    color: #CF0000;
}
td{
    font-weight: bold;
}
th{
    font-size: 20px;
    font-weight: bold;
}

table {
  margin-top: 75px;
}
