<div *ngIf="orders">
  <div class="table-responsive">
    <table class="table text-center">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Tailor Name</th>
          <th scope="col">View Order</th>
          <th scope="col">Order Status</th>
          <th scope="col">Delete Order</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{ order._id }}</td>
          <td>{{ order.customer_name }}</td>
          <td>{{ order.tailor_name }}</td>
          <td>
            <!-- Button trigger modal -->
            <button
              type="button"
              style="border: none"
              class="bg-light"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
              (click)="getInfo(order._id)"
            >
              <i class="fas fa-eye"></i>
            </button>

            <div>
              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-xl">
                  <div class="modal-content" *ngIf="cstOrder; else dd">
                    <div class="modal-header">
                      <h5 class="modal-title fw-bolder" id="exampleModalLabel">
                        Tailor Name: {{ cstOrder.tailor_name }}
                      </h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>

                    <div class="modal-body overflow-auto" *ngIf="cstOrder">
                      <div class="row">
                        <div class="col-6">
                          <div
                            id="carouselExampleFade"
                            class="carousel slide carousel-fade my-gallery-body"
                            data-bs-ride="carousel"
                          >
                            <div class="carousel-inner">
                              <div
                                class="carousel-item border border-5"
                                *ngFor="
                                  let image of cstOrder.designs;
                                  let i = index
                                "
                                [ngClass]="{ active: i == 0 }"
                              >
                                <img
                                  src="{{ image }}"
                                  class="d-block w-100"
                                  style="height: 700px !important"
                                />
                              </div>
                            </div>
                            <button
                              class="carousel-control-prev"
                              type="button"
                              data-bs-target="#carouselExampleFade"
                              data-bs-slide="prev"
                            >
                              <span
                                class="carousel-control-prev-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="visually-hidden">Previous</span>
                            </button>
                            <button
                              class="carousel-control-next"
                              type="button"
                              data-bs-target="#carouselExampleFade"
                              data-bs-slide="next"
                            >
                              <span
                                class="carousel-control-next-icon"
                                aria-hidden="true"
                              ></span>
                              <span class="visually-hidden">Next</span>
                            </button>
                          </div>
                        </div>

                        <div class="col-6">
                          <div class="text-start">
                            Customer Name: {{ cstOrder.customer_name }}
                          </div>
                          <div class="text-start">
                            Order ID: {{ cstOrder._id }}
                          </div>
                          <div class="text-start">
                            Order Status: {{ cstOrder.status }}
                          </div>
                          <table
                            class="table table-sm table-bordered w-100 mt-3"
                          >
                            <thead>
                              <tr>
                                <th class="px-3 py-3 text-center" colspan="6">
                                  Customer Sizes (CM)
                                </th>
                              </tr>
                            </thead>
                            <tbody class="tableBody">
                              <tr>
                                <td>Chest</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.chest }}
                                </td>
                              </tr>
                              <tr>
                                <td>Shoulder</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.shoulder }}
                                </td>
                              </tr>
                              <tr>
                                <td>Inseam</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.inseam }}
                                </td>
                              </tr>
                              <tr>
                                <td>Waist</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.waist }}
                                </td>
                              </tr>
                              <tr>
                                <td>Height</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.height }}
                                </td>
                              </tr>
                              <tr>
                                <td>Arm Length</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.armLength }}
                                </td>
                              </tr>
                              <tr>
                                <td>Collar</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.collar }}
                                </td>
                              </tr>
                              <tr>
                                <td>Thigh</td>
                                <td colspan="2">
                                  {{ cstOrder.customer_sizes.thigh }}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>{{ order.status }}</td>
          <td>
            <i class="fas fa-trash-alt" (click)="deleteOrder(order._id)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center mt-3">
      <li class="page-item">
        <button
          class="page-link page-link-left me-2"
          tabindex="-1"
          [disabled]="page === 1"
          (click)="previousPage()"
        >
          <i class="fas fa-backward"></i>
        </button>
      </li>
      <li class="page-item">
        <button
          class="page-link me-2"
          style="
            font-weight: bold;
            background-color: white;
            color: #2e86ab;
            border-radius: 45px;
          "
        >
          {{ page }}
        </button>
      </li>
      <li class="page-item">
        <button
          class="page-link page-link-right"
          [disabled]="page == totalPages"
          (click)="nextPage()"
        >
          <i class="fas fa-forward"></i>
        </button>
      </li>
    </ul>
  </nav>
</div>
<ng-template #dd></ng-template>
