<table class="table text-center">
    <thead>
        <tr>
            <th scope="col">Order ID</th>
            <th scope="col">Customer Name</th>
            <th scope="col">Tailor Name</th>
            <th scope="col">View Order</th>
            <th scope="col">Order Status</th>
            <th scope="col">Delete Order</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let order of orders'>
            <td>{{order.id}}</td>
            <td>{{order.customer_name}}</td>
            <td>{{order.tailor_id}}</td>
            <td>


                <!-- Button trigger modal -->
                <button type="button" style="border: none;" class="bg-light" data-bs-toggle="modal"
                    data-bs-target="#exampleModal" (click)="getInfo(order.id)">
                    <i class="fas fa-eye"></i>
                </button>






                <div>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">

                        <div class="modal-dialog modal-xl">
                            <div class="modal-content" *ngIf="cstOrder; else dd">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{cstOrder.customer_name}}
                                        titels</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>

                                <div class="modal-body" *ngIf="cstOrder">

                                    <div class="row">
                                        <div class="col-6">
                                            <div id="carouselExampleFade"
                                                class="carousel slide carousel-fade my-gallery-body"
                                                data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item border border-5"
                                                        *ngFor="let image of cstOrder.design; let i = index"
                                                        [ngClass]="{ active: i == 0 }">
                                                        <img src="{{ image }}" class="d-block w-100"
                                                            style="height: 500px !important" />
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                    data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                    data-bs-target="#carouselExampleFade" data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            <table class="table table-sm table-bordered w-100 mt-3">
                                                <thead>
                                                    <tr>
                                                        <th class="px-3 py-3 text-center" colspan="6">
                                                            Customer Sizes (CM)
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="tableBody">

                                                    <tr>
                                                        <td>Chest</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.chest }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Shoulder</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.shoulder }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Inseam</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.inseam }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Waist</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.waist }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Height</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.height }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Arm Length</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.armLength }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Collar</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.collar }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                    <tr>
                                                        <td>Sleeve</td>
                                                        <td colspan="2">{{ cstOrder.customer_sizes.sleeve }}</td>
                                                        <!-- <td>CM</td> -->
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </td>
            <td>{{order.status}}</td>
            <td><i class="fas fa-trash-alt" (click)='deleteOrder(order.id)'></i></td>
        </tr>


    </tbody>

</table>
<ng-template #dd></ng-template>
