<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
 -->

    <title>My Profile</title>
  </head>

  <body class="bg-light">
    <!--Main Screen  section -->
    <div class="container main-screen">
      <div class="row">
        <div class="col-12 col-lg-8">
          <div class="right-side">
            <!-- profile section -->
            <div class="card col-12 profile">
              <div class="card-body row">
                <div class="col-md-4">
                  <img src="{{ user.avatar }}" alt="" class="profile-img" />
                </div>
                <div class="col-md-8 profile-info">
                  <div class="col-md-2 d-inline float-end me-5">
                    <!--button edit profile  -->
                    <input
                      type="submit"
                      class="btn btn-primary"
                      name="btnAddMore"
                      value="Edit Profile"
                      (click)="information()"
                    />
                  </div>
                  <div class="profile-info-name d-inline">{{ user.name }}</div>

                  <div class="profile-info-i">{{ user.about }}</div>
                  <div class="profile-info-rate">
                    <span>Rate:</span>
                    <span>
                      <i class="fas fa-star"></i><i class="fas fa-star"></i
                      ><i class="fas fa-star"></i><i class="fas fa-star"></i
                      ><i class="fas fa-star"></i>
                    </span>
                    <span> total review is 200 user </span>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
            <!-- about section -->
            <div class="card col-12">
              <div class="card-body">
                <h5 class="card-title about-me-head d-inline">About Me</h5>
                <button class="d-inline float-end btn btn-primary btn-sm">
                  edit
                </button>
                <p class="card-text about-me-body">
                  {{ user.about }}
                </p>
              </div>
            </div>
            <!--  -->

            <!--Gallery section -->
            <div class="card col-12 mx-auto">
              <div class="card-body">
                <h5 class="card-title my-gallery-head d-inline">My Gallery</h5>
                <button
                  class="d-inline float-end btn btn-primary btn-sm"
                  data-bs-toggle="modal"
                  data-bs-target="#staticBackdrop"
                >
                  edit
                </button>
                <!-- Modal -->
                <div
                  class="modal fade"
                  id="staticBackdrop"
                  data-bs-backdrop="static"
                  data-bs-keyboard="false"
                  tabindex="-1"
                  aria-labelledby="staticBackdropLabel"
                  aria-hidden="true"
                >
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">
                          change image
                        </h5>
                        <button
                          type="button"
                          class="btn-close"
                          data-bs-dismiss="modal"
                          aria-label="Close"
                        ></button>
                      </div>
                      <div class="modal-body">
                        <label for="formFile" class="form-label"
                          >select image</label
                        >
                        <input class="form-control" type="file" id="formFile" />
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-bs-dismiss="modal"
                        >
                          Close
                        </button>
                        <button type="button" class="btn btn-primary">
                          save change
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  id="carouselExampleFade"
                  class="carousel slide carousel-fade my-gallery-body"
                  data-bs-ride="carousel"
                >
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img
                        src="{{ user.gallary[0] }}"
                        class="d-block w-100"
                        style="height: 500px !important"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="{{ user.gallary[1] }}"
                        class="d-block w-100"
                        style="height: 500px !important"
                        alt="..."
                      />
                    </div>
                    <div class="carousel-item">
                      <img
                        src="{{ user.gallary[2] }}"
                        class="d-block w-100"
                        style="height: 500px !important"
                        alt="..."
                      />
                    </div>
                  </div>
                  <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="prev"
                  >
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button
                    class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExampleFade"
                    data-bs-slide="next"
                  >
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="card col-12">
              <!-- Rate -->
              <section class="rate">
                <div class="card-body">
                  <h5 class="card-title rate-head">Rate</h5>
                  <div class="card-text">
                    <div class="rate-body">
                      <i class="fas fa-star"></i><i class="fas fa-star"></i
                      ><i class="fas fa-star"></i><i class="fas fa-star"></i
                      ><i class="fas fa-star"></i>
                    </div>
                    <div class="rate-text">Overall Rating</div>
                    <div class="rate-review-counter">from 200 customer</div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!--  -->
        </div>
        <!-- end right side -->
        <!-- start left side  -->
        <div class="col-12 col-lg-4 order-first order-lg-last">
          <div class="side-bar">
            <div class="card">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  Ahmed send request<button class="btn btn-primary float-end">
                    ok
                  </button>
                </li>
                <li class="list-group-item">
                  Aly send request<button class="btn btn-primary float-end">
                    ok
                  </button>
                </li>
                <li class="list-group-item">
                  Mohamed send request<button class="btn btn-primary float-end">
                    ok
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
