<div class="container main-screen" *ngIf="cust; else loading">
  <div class="row mb-5">
    <div class="col-12 col-lg-8">
      <div class="right-side">
        <!-- you send all user data here futuer hint -->
        <app-customer-information [user_info]="cust" [img]="custImg">
        </app-customer-information>
      </div>
      <!--  -->
    </div>
    <!-- end right side -->
    <!-- start left side  -->
    <div class="col-12 col-lg-4 order-last order-lg-last">
      <div class="mt-5" *ngIf="cust._id === currentUserId">
        <app-orders> </app-orders>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
