<span>{{ order.customer_name }}</span>
<button
  class="btn btn-primary float-end btn-sm"
  data-bs-toggle="modal"
  attr.data-bs-target="#order{{ order._id }}Model"
>
  View
</button>
<div
  class="modal fade"
  id="order{{ order._id }}Model"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <!-- START POPUP -->
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" *ngIf="order; else dd">
      <div class="modal-header">
        <h3 class="card-title text-center mt-1">
          {{ order.customer_name }}'s Request
        </h3>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <!-- starting nav menu -->
        <div class="row">
          <div class="col-12 col-lg-2 order-first order-lg-last mb-2">
            <div
              class="nav flex-column nav-pills"
              id="v-pills-tab"
              role="tablist"
              aria-orientation="vertical"
            >
              <button
                class="nav-link active"
                id="v-pills-home-tab"
                data-bs-toggle="pill"
                attr.data-bs-target="#v-{{ order._id }}-home"
                type="button"
                role="tab"
                aria-controls="v-pills-home"
                aria-selected="true"
              >
                <i class="fas fa-info-circle me-2"></i> Order Info
              </button>
              <button
                class="nav-link"
                id="v-pills-messages-tab"
                data-bs-toggle="pill"
                attr.data-bs-target="#v-{{ order._id }}-messages"
                type="button"
                role="tab"
                aria-controls="v-pills-messages"
                aria-selected="false"
                *ngIf="order.status !== 'rejected'"
              >
                <i class="fas fa-comment-dots me-2"></i> Messages
              </button>
              <button
                class="nav-link"
                id="v-pills-offer-tab"
                data-bs-toggle="pill"
                attr.data-bs-target="#v-{{ order._id }}-offer"
                type="button"
                role="tab"
                aria-controls="v-pills-offer"
                aria-selected="false"
                *ngIf="
                  order.status !== 'rejected' && order.status !== 'finished'
                "
              >
                <!-- update offer if  order.price!==undefined-->
                <span *ngIf="!order.price"
                  ><i class="fas fa-dollar-sign me-3"></i>Add Offer</span
                >
                <span *ngIf="order.price"
                  ><i class="fas fa-dollar-sign ms-3 me-2"></i> Update
                  Offer</span
                >
              </button>
            </div>
          </div>

          <div class="col-12 col-lg-10">
            <div class="tab-content" id="v-pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="v-{{ order._id }}-home"
                role="tabpanel"
                aria-labelledby="v-pills-home-tab"
              >
                <div class="card mb-3">
                  <div class="row">
                    <div class="col-12 col-lg-7 mb-2">
                      <!-- Start Carousel  -->

                      <div
                        id="carouselExampleIndicators"
                        class="carousel slide"
                        data-bs-ride="carousel"
                        style="height: 100% !important"
                      >
                        <div class="carousel-indicators"></div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img
                              src="{{ current_image }}"
                              class="d-block w-100"
                              style="max-height: 700px; min-height: 700px"
                            />
                          </div>
                        </div>
                        <button
                          class="carousel-control-prev"
                          type="button"
                          data-bs-target="#carouselExampleIndicators"
                          data-bs-slide="prev"
                          (click)="last_img()"
                        >
                          <span
                            class="carousel-control-prev-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button
                          class="carousel-control-next"
                          type="button"
                          data-bs-target="#carouselExampleIndicators"
                          data-bs-slide="next"
                          (click)="next_img()"
                        >
                          <span
                            class="carousel-control-next-icon"
                            aria-hidden="true"
                          ></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                      <!-- End Carousel  -->
                    </div>
                    <!-- starting right side -->

                    <div class="col-12 col-lg-5 mb-2">
                      <h3 class="card-title mt-2 col-12">
                        Customer Name: {{ order.customer_name }}
                      </h3>
                      <h3 class="card-title mt-2 col-12">
                        Status: {{ order.status }}
                      </h3>

                      <!-- Start Customer Sizes Table  -->

                      <table class="table table-sm table-bordered w-100 mt-3">
                        <thead>
                          <tr>
                            <th class="px-3 py-3 text-center" colspan="6">
                              Customer Sizes (CM)
                            </th>
                          </tr>
                        </thead>
                        <tbody class="tableBody">
                          <tr>
                            <td>Chest</td>
                            <td colspan="2">
                              {{ order.customer_sizes.chest }}
                            </td>
                          </tr>
                          <tr>
                            <td>Shoulder</td>
                            <td colspan="2">
                              {{ order.customer_sizes.shoulder }}
                            </td>
                          </tr>
                          <tr>
                            <td>Inseam</td>
                            <td colspan="2">
                              {{ order.customer_sizes.inseam }}
                            </td>
                          </tr>
                          <tr>
                            <td>Waist</td>
                            <td colspan="2">
                              {{ order.customer_sizes.waist }}
                            </td>
                          </tr>
                          <tr>
                            <td>Height</td>
                            <td colspan="2">
                              {{ order.customer_sizes.height }}
                            </td>
                          </tr>
                          <tr>
                            <td>Arm Length</td>
                            <td colspan="2">
                              {{ order.customer_sizes.armLength }}
                            </td>
                          </tr>
                          <tr>
                            <td>Collar</td>
                            <td colspan="2">
                              {{ order.customer_sizes.collar }}
                            </td>
                          </tr>
                          <tr>
                            <td>Thigh</td>
                            <td colspan="2">
                              {{ order.customer_sizes.thigh }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- End Customer Sizes Table  -->
                      <!-- div for Page division -->
                      <!-- <div class="col-1"></div> -->
                      <!-- end of right side -->
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="v-{{ order._id }}-messages"
                role="tabpanel"
                aria-labelledby="v-pills-messages-tab"
              >
                <div class="row">
                  <div class="col-lg-2"></div>
                  <div
                    class="col-lg-10"
                    *ngIf="
                      order.status !== 'rejected' ||
                        order.status !== 'finished';
                      else notAccept
                    "
                  >
                    <div class="chatBox">
                      <div
                        class="chat"
                        style="max-height: 400px; overflow-y: scroll"
                        *ngIf="order.comments.length > 0; else noMeassge"
                      >
                        <div class="col-12">
                          <div
                            class="card message"
                            *ngFor="let message of order.comments"
                          >
                            <div
                              class="card-body"
                              style="background-color: white !important"
                            >
                              <div class="row">
                                <!-- <div class="col-sm-3 col-md-9 text-start"> -->
                                <h5
                                  class="card-title meFormat"
                                  *ngIf="message.send_from === 'tailor'"
                                >
                                  <i class="fas fa-cut me-2"></i> Me
                                  <!-- {{ order.tailor_name  }} -->
                                </h5>
                                <h5
                                  class="card-title customerFormat"
                                  *ngIf="message.send_from === 'customer'"
                                >
                                  <i class="fas fa-user me-2"></i>
                                  {{ order.customer_name }}
                                </h5>
                                <!-- </div> -->
                              </div>
                              <p
                                class="card-text order-comment-body text-start"
                              >
                                {{ message.comment_body }}
                              </p>
                              <!-- <div class="col-sm-3 col-md-3 text-md-end"> -->
                              <p class="card-subtitle mb-1 text-muted">
                                {{ message.date | date: "dd MMM, YYYY" }}
                              </p>
                              <p class="card-subtitle mb-1 text-muted">
                                {{ message.date | date: "h:mm a" }}
                              </p>
                              <!-- </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <ng-template #noMeassge>
                        <h5>NO Message</h5>
                      </ng-template>
                      <div class="row mt-4">
                        <div class="col-12 col-lg-10">
                          <div class="form-floating">
                            <textarea
                              class="form-control commentArea"
                              placeholder="Leave a comment here"
                              id="floatingTextarea"
                              #message
                            ></textarea>
                          </div>
                        </div>
                        <div class="col-12 col-lg-2 mt-2">
                          <button
                            class="btn btn-primary align-items-end"
                            [disabled]="order.status == 'finished'"
                            (click)="send_commment(message)"
                          >
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <ng-template #notAccept>
                  <h5 *ngIf="order.status == 'rejected'">Order rejected</h5>
                  <h5 *ngIf="order.status == 'finished'">Order compeleted</h5>
                </ng-template>
              </div>
              <!-- offer -->
              <div
                class="tab-pane fade"
                id="v-{{ order._id }}-offer"
                role="tabpanel"
                aria-labelledby="v-pills-offer-tab"
              >
                <div>
                  <div class="col-12">
                    <div class="card massege">
                      <div
                        class="card-body"
                        style="background-color: white !important"
                      >
                        <div class="modal-body">
                          <span id="rateMe2" class="empty-stars"></span>
                          <div class="container">
                            <div class="mb-2 col-12">
                              <form id="form" [formGroup]="priceForm">
                                <label class="col-form-label">Price:</label>
                                <input
                                  formControlName="offerPrice"
                                  type="number"
                                  placeholder="add desgin cost"
                                  class="form-control no-box-shadow"
                                />
                                <small
                                  class="text-danger ms-2"
                                  style="width: 100%"
                                  *ngIf="price.invalid"
                                >
                                  must add price
                                </small>
                              </form>
                            </div>
                            <div class="mb-2 col-12">
                              <label class="col-form-label">Date:</label>
                              <input
                                type="date"
                                [ngModel]="currentdate | date: 'yyyy-MM-dd'"
                                name="dt"
                                [min]="today | date: 'yyyy-MM-dd'"
                                class="form-control form-control-rounded"
                                #deadline
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="d-flex justify-content-end">
                      <button
                        type="button"
                        class="btn btn-primary form me-3"
                        data-bs-dismiss="modal"
                        (click)="send_price(deadline)"
                        [disabled]="price.invalid"
                      >
                        <span *ngIf="!order.price">Send Offer</span>
                        <span *ngIf="order.price > 0">Update Offer</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end offer -->
            </div>
          </div>
        </div>
        <!-- end nav menu -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="change_status('rejected')"
          *ngIf="order.status === 'pending'"
        >
          Decline
        </button>
        <button
          type="button"
          class="btn btn-primary form"
          data-bs-dismiss="modal"
          (click)="change_status('finished')"
          *ngIf="order.status === 'accepted'"
        >
          Finished
        </button>
      </div>
    </div>
    <!-- END POPUP -->
  </div>
</div>

<ng-template #dd>content here...</ng-template>
