/* apply some styles on single request */
.card {
  border: none;
}

.card-body {
  background-color: snow;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

table,
td {
  padding: 5px;
}

.tableBody td {
  text-align: center;
}

.tableBody td:nth-child(1) {
  width: 50%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  background-size: 45%, 45%;
}

.carousel-control-next-icon {
  background-image: url("../../../../assets/images/chevron-right-solid.svg");
  border-radius: 20px;
}

.carousel-control-prev-icon {
  background-image: url("../../../../assets/images/chevron-left-solid.svg");
  border-radius: 20px;
}

.btn-primary {
  background-color: #2e86ab;
  color: white !important;
  border: 1px solid white;
}
.btn-primary:hover {
  background-color: white;
  color: #2e86ab !important;
  border: 2px solid #2e86ab;
}

.nav-link.active {
  background-color: #2e86ab;
  color: white !important;
}

.nav-link {
  color: #2e86ab;
}

/*Start Message*/

.chat {
  background-color: whitesmoke;
  /* background-color: #3396c0; */
  /* border: 2px solid #2e86ab; */
}
.chatBox {
  border: 2px solid #2e86ab;
  padding: 10px;
  border-radius: 15px;
  background-color: whitesmoke;
  /* background-color: #3396c0; */
}
.message {
  border: 2px solid rgb(226, 223, 223);
  border-radius: 15px;
  margin: 10px;
}
.card-body {
  border-radius: 15px;
}

.commentArea {
  overflow-y: hidden;
}

.order-comment-body {
  font-size: 1.2em;
  line-height: 1em;

}
.card-subtitle {
  font-size: 0.75em;
}

.meFormat{
  color: #2e86ab;
}

.customerFormat{
  color: rgb(7, 153, 7);
}

/*End Message*/
