/* apply some styles on single request */
.card {
    border: none;
}

.card-body{
    background-color: snow;
}

.card-title {
    font-size: 1.3rem;
    font-weight: bold;
}

table, td {
    padding: 5px;
  }

  
  .tableBody td {
    text-align: center;
  }

  .tableBody td:nth-child(1) {
    width: 50%;
  }


  