.card {
    border-radius: 15px;
}
.card-header {
    font-size: 1.4rem;
    font-weight: bold;
}

.list-group-item span {
    font-size: 1.1rem;
    font-weight: bold;
}

.list-group-item button {
    margin: 7px;
}

.model-img {
    width: 10em;
    height: 10em;
}

.btn-primary{
    background-color: #2e86ab;
    border: 1px solid white;
  }
  .btn-primary:hover{
    background-color: white;
    color: #2e86ab;
    border: 1px solid #2e86ab;
  }


/* delete image */

.delete-img{
    position: relative;
    display: flex;
}
.icon{
    width: 10em;
    height: 10em;
    margin: 7px;
    position: absolute;
    color: white;
    background: rgba(0, 0, 0, .5);
    opacity: 0;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
}
.icon i{
    font-weight: bold;
    font-size: 40px;
    cursor: pointer;
}
.delete-img:hover .icon{
    opacity: 1;
    transition: .8s ease;
}
