.card {
    border-radius: 15px;
}
.card-header {
    font-size: 1.4rem;
    font-weight: bold;
}

.list-group-item span {
    font-size: 1.1rem;
    font-weight: bold;
}

.list-group-item button {
    margin: 7px;
}

.model-img {
    width: 10em;
    height: 10em;
  }