/* @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap"); */

/* Start Side-Bar */

.accordion {
    width: 250px;
    border-radius: 11px;
    font-size: 22px;
}

/* Rating Styles */

.accordion-body::before {
    display: block;
    height: 2px;
    background-color: #2e86ab;
    content: " ";
    width: 20px;
    margin-bottom: 10px;
    
}

.list-group .fa-star {
    color: gold !important;
}

.list-group-item{
    border: none;
    font-size: small;
    font-weight: bold;
}

/* Start Filter Item*/

.accordion-first-item{
    background-color: #2e86ab;
    color:white !important;
    box-shadow: none;
}

.accordion-first-item::after{
    background-image: none !important;
}

/* End Filter Item*/

.accBtn {
    background-color: white;
}

.accordion-button{
    color: #11658a;
    box-shadow: none;
    font-size: 17px;
}
/* .accordion-button:hover{
    border: 1px solid #2e86ab;
    box-shadow: none;
} */

.accordion-button::after{
    background-image: url("../../../assets/images/arrowUp.svg");
}

.fa-filter {
    color: white;
}

.accordion-last-item::after {
    background-image: none;
}
.accordion-last-item:hover {
    border: 1px solid #2e86ab;
    box-shadow: none;
}

.form-check-input {
    box-shadow: none;
}



/* end Side Bar */