<div class="card">
    <img src="assets/images/head.jpg" style="height: 550px;" class="card-img" alt="...">

      <div class="card-img-overlay mt-5 mb-5">
        <div class="container">
        <h2 class="card-title" style="color: #2E86AB; font-weight: bold; ">Card title</h2>
          <p class="card-text"
            style="color: white; padding: 10px; font-weight: 100; margin-top: 30px; background-color: rgba(0,139,139,.2);">
            This is a
            wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit
            longer.</p>
          <div class="container">
            <div class="row height d-flex justify-content-center align-items-center mt-5">
              <div class="col-md-8">
                <div class="search">
                  <input type="text" class="form-control" placeholder="Have a question ?">
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </div>
      </div>

    </div>
  </div> <!-- / header -->

  <!-- tailor information -->
  <div class="container">
    <div class="row">
      <!-- side bar -->
      <div class="col-12 col-lg-3 mt-5 m-auto mb-5 d-none d-lg-block order-lg-last">
        <div class="accordion" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
              <button class="accordion-button " type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                Specialization
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
              aria-labelledby="panelsStayOpen-headingOne">
              <div class="accordion-body">

                <div class="list-group">
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Men
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Women
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Children
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                Gender
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingTwo">
              <div class="accordion-body">
                <div class="list-group">
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Male
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    Female
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseThree">
                Rate
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
              aria-labelledby="panelsStayOpen-headingThree">
              <div class="accordion-body">
                <div class="list-group">
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <i class="fas fa-star"></i>
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </label>
                  <label class="list-group-item">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </label>
                  <label class="list-group-item rateFive">
                    <input class="form-check-input me-1" type="checkbox" value="">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                  </label>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- / side bar -->

      <div class="col-12 col-lg-9">
          <app-about-tailor *ngFor = "let tailor of tailors" [tailor] = "tailor"></app-about-tailor>
      </div>
    </div>
  </div>
