/* @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap"); */

/* Start Side-Bar */

.accordion {
    width: 250px;
    border-radius: 11px;
    font-size: 22px;
}

.accordion-item {
    font-size: 15px;
}


/* Rating Styles */

.list-group .fa-star {
    color: gold !important;
}

/* .accordion-item .accBtn {
    color: rgb(12, 99, 228);
}
.accordion-item .accBtn:hover {
    background-color: rgb(231, 241, 255);
} */

.accordion-button{
    background-color: #2e86ab;
    color: white !important;
    font-weight: bold;
}
.accordion-button:hover{
    background-color: white;
    color: #2e86ab !important;
    border: 2px solid #2e86ab;
    font-weight: bold;
}
/* end Side Bar */