@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

/* Start Side-Bar */

.accordion {
    width: 250px;
    border-radius: 11px;
    font-size: 22px;
}

.accordion-item {
    font-size: 15px;
}


/* Rating Styles */

.list-group .fa-star {
    color: gold !important;
}


/* end Side Bar */