<div class="side-bar">
  <div class="card mb-3 mt-4">
    <div class="card-header text-center">Clients Requests</div>
    <ul
      class="list-group list-group-flush"
      *ngIf="requests.length != 0; else nothingHere"
    >
      <li class="list-group-item" *ngFor="let request of requests">
        <app-customer-single-request
          [order]="request"
        ></app-customer-single-request>
      </li>
    </ul>
    <div class="card-footer"></div>
  </div>
</div>
<ng-template #nothingHere>
  <div>You haven't order yet</div>
</ng-template>
