*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Cairo', sans-serif !important;
}

/* strat navbar */
.n-main {
  background-color: #2E86AB;
}

.n-main .navbar-brand img {
  width: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #f3f3f3 !important;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  font-weight: 300;
}

.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: #FBCCB1 2px solid !important;
  font-weight: 600;
  color: #FBCCB1 !important;
}


/* end navbar */


/* button search */


@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.search input {
    margin-top: 50px;
    height: 60px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #2E86AB;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #2E86AB;
    border: none;
}
.search button:hover{
    background-color: #2E86AB;
    border: none;
}

/* button search */



.main-screen {
  margin-top: 1em;
}
.card {
  margin-bottom: 1em;
}
.profile {
  width: 100%;
  height: 30%;
}
.profile-img {
  width: 100%;
  height: 100%;
  /* padding: 1em;
    margin-right: 1em; */
}

.profile-info {
  padding: 2em;
}
.profile-info-name {
  font-size: 2em;
  padding-bottom: 0.5em;
  color: #156D92;
}
.profile-info-i {
  font-size: 1.3em;
  padding-bottom: 0.5em;
}
.profile-info-rate {
  font-size: 1.1em;
  padding-bottom: 0.5em;
}
.about-me-body {
  margin-left:2em ;
  padding-bottom: 2em;
}
.my-gallery-body {
  margin: 2em;
  /* margin-right: 2em; */
}
.fa-star {
  color: #ffb624;
  padding-right: 0.1em;
}

.rate {
  text-align: center;
}
.rate-head,
.about-me-head,
.my-gallery-head {
  text-align: left;
  font-size: 1.7rem;
  margin-left: 1em;
  padding-bottom: 1em;
}
.rate-body {
  font-size: 2rem;
}
.rate-text {
  font-size: 1.5rem;
}
.rate-review-counter {
  font-size: 0.9em;
  padding-bottom: 1em;
}

.comment-footer {
  padding: 0.1em !important;
}


/* start footer */

.footer-links a{
  text-decoration: none;
}
/*        icon style*/
.footer-print-icon:hover{
  color:teal !important;
  transition: 1s;
}
.footer-phone-icon:hover{
  color: #233e8b !important;
  transition: 1s;
}
.footer-envelope-icon:hover{
  color: #ffc947 !important;
  transition: 1s;
}
.footer-home-icon:hover{
  color: black !important;
  transition: 1s;
}