<section class="comment">
    <div class="card-body">
      <h6 class="card-title comment-head">
        <div>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i>
        </div>
      </h6>
      <div class="card-text comment-body">
        <span>Loki</span>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          Odio facilis dolorum vitae autem neque blanditiis
          perspiciatis vel rerum quo tenetur. Asperiores voluptatum
          incidunt laborum, quis nihil esse mollitia beatae
          consequuntur.
        </p>
      </div>
    </div>
  </section>