<section class="comment mb-2">
  <div class="card-body text-start">

    <h6 class="card-title comment-head">
      <div class="pt-3">
        <i class="fas fa-star" *ngFor="let star of rate"></i>
      </div>
    </h6>
    <div class="card-text comment-body">
      <span class="name">{{ comment.customer_name }}</span>
      <p class="mt-1 parg">
        {{ comment.body }}
      </p>
      <p class="card-subtitle mb-1 text-muted">
        {{ comment.date | date: "dd MMM, YYYY" }}
      </p>
      <p class="card-subtitle mb-1 text-muted">
        {{ comment.date | date: 'h:mm a' }}
      </p>

    </div>
  </div>
</section>

