.card {
  margin-bottom: 1em;
  border-radius: 15px;
  min-height: 205px;
}
.profile {
  width: 100%;
  height: 40%;
}
.profile-img {
  width: 65%;
  height: 100%;
  border-radius: 50%;
}

.profile-info {
  padding-left: 10px;
}
.profile-info-name {
  font-size: 2em;
  padding-bottom: 0.5em;
  color: #156d92;
}
.profile-info-i {
  font-size: 1.3em;
  padding-bottom: 0.5em;
}
.profile-info-rate {
  font-size: 1.1em;
  padding-bottom: 0.5em;
}

.fa-star {
  color: #ffb624;
  padding-right: 0.1em;
}

.img-pop{
  width: 450px;
  max-height: 400px;
  border-radius: 10px;
}

/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow {
  box-shadow: none;
}

.image-view {
  position: relative;
}
.image-view .cls {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.6;
  background-color: #A0E7E5;
  padding: 10px;
  border-radius: 50%;
}

.span{
  padding-top: 5px;
}

.btn-primary{
  background-color: #2e86ab;
  border: 1px solid white;
}
.btn-primary:hover{
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}
/**/
.halfstar1 {
  position: absolute;
  top: -6px;
  right: 15px;
  width: 34px;
  font-size: 40px;
  color: #666;
  overflow: hidden;
  z-index: 1;
}

.halfstar2 {
    position: absolute;
    top: -6px;
    right: 32px;
    width: 17px;
    font-size: 40px;
    color: rgb(252, 173, 3);
    overflow: hidden;
    z-index:2;
}
/**rate */

 .stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #f8ce0b;
}
