<div class="card col-12 profile">
  <div class="card-body row">
    <!-- start image section -->
    <div class="col-md-4 mb-2 text-center">
      <img
        src="{{ user_info.avatar }}"
        class="profile-img img-fluid"
        data-bs-target="#staticBackdrop"
        data-bs-toggle="modal"
      />
      <!-- start image popup -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">
                Profile Picture
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
                (click)="not_saving_tailor_avatar()"
              ></button>
            </div>
            <div class="modal-body text-center">
              <img src="{{ img }}" class="profile-img img-pop" />
            </div>
            <div class="modal-footer" style="justify-content: flex-start !important;">
              <button
                type="button"
                class="btn btn-secondary  justify-content-start"
                data-bs-dismiss="modal"
                (click)="not_saving_tailor_avatar()"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary d-flex justify-content-start"
                data-bs-dismiss="modal"
                (click)="save_new_tailor_avatar()"
              >
                Save
              </button>
              <ngx-uploadcare-widget
                public-key="d2eaba00baf97d93aeb1"
                (on-upload-complete)="on_upload_complete($event)"
                crop="free"
                class="d-flex justify-content-end"
                [images-only]="true"
                input-accept-types="image/*"
                tabs="file camera url gphotos instagram facebook"
                #upload_component
              >
              </ngx-uploadcare-widget>
              <!-- upload button needed and third-party-api -->
            </div>
          </div>
        </div>
      </div>
      <!-- end image popup -->
    </div>
    <!-- end image section -->

    <!-- start info section -->
    <div class="col-md-8 profile-info">
      <!-- start Edit pop-up -->
      <div class="d-inline-block float-end">
        <!-- edit button -->
        <button
          style="margin-top: 7px"
          type="button"
          class="btn btn-primary btn-sm"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          Edit
        </button>
        <!-- end -->
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                  Edit Information
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form #form="ngForm">
                  <div class="mb-3">
                    <label for="name" class="col-form-label">Name:</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      name="name"
                      [ngModel]="user_info.name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="inputState" class="form-label"
                      >Designing For:</label
                    >
                    <select
                      id="inputState"
                      class="form-select"
                      name="design"
                      [ngModel]="user_info.designFor"
                    >
                      <option>Male</option>
                      <option>Female</option>
                      <option>All</option>
                    </select>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Discard
                </button>
                <button
                  type="button"
                  class="btn btn-primary form"
                  (click)="update_tailor_info(form)"
                  data-bs-dismiss="modal"
                >
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of popup model -->
      <div class="profile-info-name d-inline">{{ user_info.name }}</div>
      <div class="profile-info-i">Designing for: {{ user_info.designFor }}</div>
      <div class="profile-info-rate">
        <span>Rate: </span>
        <span>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i>
        </span> <br>
        <span> Total Reviews: 200 </span>
      </div>
    </div>
    <!-- end info section -->
  </div>
</div>
<!--  -->
