.card {
  margin-bottom: 1em;
  border-radius: 15px;
  min-height: 205px;
}
.profile {
  width: 100%;
  height: 40%;
}
.profile-img {
  width: 65%;
  height: 100%;
  border-radius: 50%;
  
}

.profile-info {
  padding-left: 10px;
}
.profile-info-name {
  font-size: 2em;
  padding-bottom: 0.5em;
  color: #156d92;
}
.profile-info-i {
  font-size: 1.3em;
  padding-bottom: 0.5em;
}
.profile-info-rate {
  font-size: 1.1em;
  padding-bottom: 0.5em;
}

.fa-star {
  color: #ffb624;
  padding-right: 0.1em;
}

.img-pop {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* change border color to red when invalid */

input.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change border color to green when invalid */

input.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow {
  box-shadow: none;
}

.image-view {
  position: relative;
}
.image-view .cls {
  position: absolute;
  right: 10px;
  top: 10px;
  opacity: 0.6;
  background-color: #A0E7E5;
  padding: 10px;
  border-radius: 50%;
}

.span{
  padding-top: 5px;
}

.btn-primary{
  background-color: #2e86ab;
  border: 1px solid white;
}
.btn-primary:hover{
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}