<!-- profile section -->
<div class="card col-12 profile">
  <div class="card-body row">
    <div class="col-md-4">
      <img src="sssssss" alt="" class="profile-img" />
    </div>
    <div class="col-md-8 profile-info">
      <div class="col-md-2 d-inline float-end me-5">
        <!--button edit profile  -->
        <input
          type="submit"
          class="btn btn-primary"
          name="btnAddMore"
          value="Edit Profile"
        />
      </div>
      <div class="profile-info-name d-inline">ssssssss</div>

      <div class="profile-info-i">ssssssss</div>
      <div class="profile-info-rate">
        <span>Rate:</span>
        <span>
          <i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i><i class="fas fa-star"></i
          ><i class="fas fa-star"></i>
        </span>
        <span> total review is 200 user </span>
      </div>
    </div>
  </div>
</div>
<!--  -->
