/* strat navbar */
.n-main {
  background-color: #2e86ab;
}
.navbar {
  z-index: 999;
}
.n-main .navbar-brand img {
  width: 50px;
  border-radius: 50%;
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: #f3f3f3 !important;
  font-size: 20px;
  font-weight: bold;
  padding-right: 15px;
  font-weight: 300;
}


.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: #fbccb1 2px solid !important;
  font-weight: 600;
  color: #fbccb1 !important;
}

/* end navbar */
