<div class="n-main">
  <div class="container">
    <!-- navbar start -->
    <div class="n-main">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" routerLink="/"
              ><img src="assets/images/logo.jpg" class="img-fluid"
            /></a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mb-lg-0 ms-auto">
                <li class="nav-item">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="home"
                    >Home</a
                  >
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a
                    *ngIf="!isTailor"
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="customer/{{ id }}"
                    [routerLinkActiveOptions]="{ exact: true }"
                    >My Profile</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    *ngIf="!isAuthenticated"
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="login"
                    >Login</a
                  >
                </li>
                <li class="nav-item" *ngIf="isAuthenticated && isAdmin">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    routerLink="dashboard/customers"
                    >Dashboard</a
                  >
                </li>
                <li class="nav-item" *ngIf="isAuthenticated">
                  <a
                    class="nav-link"
                    routerLinkActive="active"
                    style="cursor: pointer"
                    (click)="onLogout()"
                    >Logout</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- end of navbar -->
  </div>
</div>
