.row-registration ,.card{
  background-color: white;
  border-radius: 15px;
}

.login-row .col-lg-4{
  background: white;
  border-radius: 15px;
}


.login-button{
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-weight: bold;
}
.login-button:hover{
  background-color: white;
  color: black;
  border: 2px solid;
}

/* change email input  border color to red when invalid */

#email.ng-invalid.ng-touched {
  border: 1.5px solid red;
}

/* change email input border color to green when invalid */

#email.ng-valid.ng-touched {
  border: 1.5px solid green;
}

/* remove default input border shadow */

.no-box-shadow{
  box-shadow: none;
}
