<section class="form my-4">
  <div class="container">
    <div class="row login-row">
      <div class="col-lg-4 col-md-10 col-10 mx-auto pt-5 px-4 shadow mt-5">
        <h1 class="mb-5">Login</h1>
        <form
          id="form"
          action=""
          [formGroup]="LoginForm"
          (ngSubmit)="onSubmit()"
        >
          <div class="form-row">
            <div class="col-lg-12 col-12">
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                class="form-control no-box-shadow my-0 p-2"
                id="email"
              />
              <div class="text-danger" *ngIf="email.touched && email.invalid">
                Email like 'example@any.com'
              </div>
              <!-- <small class="ms-2" style="color: red;"
                          *ngIf="email.invalid && email.touched">
                            Your email does not look right
                          </small > -->
            </div>
          </div>
          <div class="form-row">
            <div class="col-lg-12">
              <input
                type="password"
                formControlName="password"
                placeholder="*******"
                class="form-control no-box-shadow mt-3 p-2"
                id="pass"
              />
              <div
                class="text-danger"
                *ngIf="password.touched && password.invalid"
              >
                Password is required
              </div>
              <!-- <small class="ms-2" style="color: red;"
                          *ngIf="password.invalid && password.touched">
                            That password sucks...
                          </small > -->
            </div>
          </div>

          <div class="form-row">
            <div class="col-lg-12">
              <button
                type="submit"
                class="btn btn-primary mt-4 mb-3 login-button no-box-shadow"
              >
                login
              </button>
            </div>
          </div>
          <div class="text-danger" *ngIf="!correctPass">
            incorrect password or email
          </div>
          <a href="#">Forget password</a>
          <p class="mt-2">
            Not a member yet? <a routerLink="/signup">Join here</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
