/* start genral styles*/
section {
  padding: 60px 0;
}
.colored-section {
  background-color: #3498c2;
}
section {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 22px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  letter-spacing: 1px;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
}
h2 {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 35px;
}
h3 {
  font-size: 1.4em;
  margin-bottom: 15px;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #2e86ab;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 10px;
}
/* End genral styles*/

/* start Header styles */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url(../../../assets/images/header.jpeg);
  background-size: cover;
  background-position: center;
  height: 92vh;
  background-attachment: fixed;
  border-radius: 0;
}
.header .btn {
  background-color: #2e86ab;
  color: #fdfffc;
}
.header .btn:hover {
  background-color: #96cce2;
  color: #0d1f2d;
}
/*End Header Styles*/

/*Start search styles */
.search-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.input-group {
  height: 50px;
}
.form-select,
.input-group button {
  border-radius: 10px;
}
.search-bar .input-group {
  width: 75%;
}
@media screen and (min-width: 1024px) {
  .search-bar .input-group {
    width: 50%;
  }
}
/*End search styles */

/*Start Services Section Styles*/
.card-group {
  margin-top: 60px;
}
.card {
  border-bottom-right-radius: 15px !important;
  border-bottom-left-radius: 15px !important;
}
.card .services-photo {
  position: relative;
  bottom: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.services-photo {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.services-photo img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
  /* photo zoom in*/
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  /* zoom in and out slowly */
}
.services-photo img:hover {
  opacity: 1;
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.services h3 {
  margin-top: -5px;
}
/*End Services Section Styles*/

/*Start about us*/
.features-section .long-copy {
  margin-bottom: 30px;
}
/* .about-us p {
  text-align: justify;
} */
/*End about us*/

/* Start Features Section */
.features-section h2,
.features-section h3,
.features-section p {
  color: #f6f7f8 !important;
}
.features-section h2::after {
  background-color: #f6f7f8;
}
.features-section p{
  font-size: 18px;
}
/* End Features Section */
