<div class="main">
  <section class="header card text-white border-0">
    <img src="assets/images/header.jpeg" class="card-img rounded-0 img-fluid">
    <div class="card-img-overlay">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-6 mx-auto mx-md-4 mt-2 mt-md-4">
            <h1 class="card-title text-center text-md-0">We Stitch Designs Perfectly Suits You!</h1>
            <div class="input-group mx-auto mx-md-0 mt-4">
              <select class="form-select" [(ngModel)]="designFor">
                <option selected>Choose...</option>
                <option [value]="male">Male</option>
                <option [value]="female">Female</option>
                <option [value]="all">Both</option>
              </select>
              <button class="btn btn-outline-secondary" (click)="sendSearchToHome()">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of main header -->


  <!-- about us section -->
  <div class="container">
    <section class="about-us m-auto mt-5 text-center">
      <h2 class="mb-4">About Us</h2>
      <p class="lead">We are a platform for any creative tailor to offer their quality worksmanship for our daily
        customers who visit our website. We only deliver the best to our customers. Let it be any type of clothes you
        want to be stitched, our tailors
        do it. They focus on perfect fit, suitable styles and avail our tailoring services with beautifully made
        clothing. We are committed to magnify customers’ satisfaction and that belief have helped us garner a vast
        clientele, which continues
        to grow by everyday.</p>
    </section>
  </div>

  <!-- services section -->
  <div class="container mt-5">
    <h2 class="text-center mb-5">Services</h2>
    <div class="card-group">
      <div class="card me-sm-3 col-12">
        <div class="services-photo">
          <img class="card-img-top " src="assets/images/sewing-machine-sew-craft-needle.jpg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Altering</h3>
          <p class="card-text">The perfect cut for your outfit is something we believe in. We offer the best altering
            options helping you look more classy.</p>
        </div>
      </div>
      <div class="card me-sm-3 mt-4 mt-md-0">
        <div class="services-photo">
          <img class="card-img-top" src="assets/images/Dress-Suits-for-Men-Measure.jpeg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Custom Fitting</h3>
          <p class="card-text">We are engaged in providing custom tailoring so that you can choose all details you want,
            from buttons to pockets and lapels.</p>
        </div>
      </div>
      <div class="card mt-4 mt-md-0 ">
        <div class="services-photo">
          <img class="card-img-top" src="assets/images/pexels-anna-shvets-5830641.jpg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Designing</h3>
          <p class="card-text">We design wide range of creative & fantastic embroidery patterns and keep a set of these
            designs for our customers to pick from.</p>
        </div>
      </div>
    </div>
  </div> <!-- end of services section -->


  <!-- services section -->
  <div class="container mt-5">
    <h2 class="text-center mb-5">Services</h2>
    <div class="card-group">
      <div class="card me-sm-3 col-12">
        <div class="services-photo">
          <img class="card-img-top " src="assets/images/sewing-machine-sew-craft-needle.jpg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Altering</h3>
          <p class="card-text">The perfect cut for your outfit is something we believe in. We offer the best altering
            options helping you look more classy.</p>
        </div>
      </div>
      <div class="card me-sm-3 mt-4 mt-md-0">
        <div class="services-photo">
          <img class="card-img-top" src="assets/images/Dress-Suits-for-Men-Measure.jpeg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Custom Fitting</h3>
          <p class="card-text">We are engaged in providing custom tailoring so that you can choose all details you want,
            from buttons to pockets and lapels.</p>
        </div>
      </div>
      <div class="card mt-4 mt-md-0 ">
        <div class="services-photo">
          <img class="card-img-top" src="assets/images/pexels-anna-shvets-5830641.jpg" alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h3 class="card-title">Designing</h3>
          <p class="card-text">We design wide range of creative & fantastic embroidery patterns and keep a set of these
            designs for our customers to pick from.</p>
        </div>
      </div>
    </div>
  </div> <!-- end of services section -->
