h1 {
  color: #FDFFFC;
}
h2, h3 {
  color: #D7263D;
}

.header .btn {
  background-color: #2E86AB;
  color: #FDFFFC;
}
.header .btn:hover {
  background-color: #96cce2;
  color: #0D1F2D;
}

.header .input-group {
  width: 65%;
}

