<div class="main">
  <header class="header text-white border-0">
    <!-- <img src="assets/images/header.jpeg" class="card-img rounded-0 img-fluid"> -->
    <div class="container">
      <div class="row">
        <div class="col-12 mt-2 mt-md-4 search-bar">
          <h1 class="card-title text-center">
            We Stitch Designs That Perfectly Suits You!
          </h1>
          <div class="input-group mt-4 mx-auto">
            <select class="form-select" [(ngModel)]="designFor">
              <option selected>Choose a Specialization..</option>
              <option [value]="men">Men</option>
              <option [value]="women">Women</option>
              <option [value]="all">Both</option>
            </select>
            <button
              class="btn btn-outline-secondary"
              (click)="sendSearchToHome()"
            >
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- end of main header -->

  <!-- services section -->
  <section class="services">
    <div class="container">
      <h2 class="text-center mb-5">Services</h2>
      <div class="card-group">
        <div class="card me-sm-3 col-12">
          <div class="services-photo">
            <img
              class="card-img-top"
              src="assets/images/sewing-machine-sew-craft-needle.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body text-center">
            <h3 class="card-title">Altering</h3>
            <p class="card-text">
              The perfect cut for your outfit is something we believe in. We
              offer the best altering options helping you look more classy.
            </p>
          </div>
        </div>
        <div class="card me-sm-3 mt-4 mt-md-0">
          <div class="services-photo">
            <img
              class="card-img-top"
              src="assets/images/Dress-Suits-for-Men-Measure.jpeg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body text-center">
            <h3 class="card-title">Custom Fitting</h3>
            <p class="card-text">
              We are engaged in providing custom tailoring so that you can
              choose all details you want, from buttons to pockets and lapels.
            </p>
          </div>
        </div>
        <div class="card mt-4 mt-md-0">
          <div class="services-photo">
            <img
              class="card-img-top"
              src="assets/images/pexels-anna-shvets-5830641.jpg"
              alt="Card image cap"
            />
          </div>
          <div class="card-body text-center">
            <h3 class="card-title">Designing</h3>
            <p class="card-text">
              We design wide range of creative & fantastic embroidery patterns
              and keep a set of these designs for our customers to pick from.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end of services section -->

  <div class="colored-section">
    <section class="features-section text-center">
      <div class="container">
        <div class="row">
          <h2>How it works!</h2>
          <p class="mb-5 h5">A few simple steps towards a better fit</p>
        </div>

        <div class="row text-start">
          <div class="col-md-4 box">
            <h3>Making it fit.</h3>
            <p>
              You’re one of a kind, so why shouldn't your dress shirts be? A
              made-to-measure shirt from Tailor Store isn’t just another dress
              shirt for men - it's an experience tailored only for you.
            </p>
          </div>
          <div class="col-md-4 box">
            <h3>Making it right.</h3>
            <p>
              No shady business. Just really good dress shirts. Our tailors take
              pride in every step of the craft, cutting, sewing and stitching
              made-to-measure shirts with the utmost precision and care.
            </p>
          </div>
          <div class="col-md-4 box">
            <h3>Making it personal.</h3>
            <p>
              You want it - we’ve got it. Discover the true potential in custom
              shirtmaking with nearly unlimited design options.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- about us section -->
  <section class="about-us w-75 mx-auto">
    <div class="container">
      <h2>About Us</h2>
      <p>
        We are a platform for any creative tailor to offer their quality
        worksmanship for our daily customers who visit our website. We only
        deliver the best to our customers. Let it be any type of clothes you
        want to be stitched, our tailors do it. They focus on perfect fit,
        suitable styles and avail our tailoring services with beautifully made
        clothing. We are committed to magnify customers’ satisfaction and that
        belief have helped us garner a vast clientele, which continues to grow
        by everyday.
      </p>
    </div>
  </section>
</div>
