<div class="row">
  <div class="col-7 col-md-8">
    <span *ngIf="order">{{ order.tailor_name }}</span>
  </div>
  <div class="col-5 col-md-4" style="display: flex;">
    <div class="col-6">
      <button *ngIf="order.status == 'finished' && !hasComment" (click)="showModel()" class="float-end btn btn-primary btn-sm me-2"
        data-bs-toggle="modal" attr.data-bs-target="#review{{ order._id }}Model">
        Review
      </button>
    </div>

    <div class="col-6">

      <!-- view -->

      <button class="btn btn-primary float-end btn-sm" data-bs-toggle="modal"
        attr.data-bs-target="#order{{ order._id }}Model">
        View
      </button>

    </div>
  </div>
</div>
<!-- ===================== review button =================== -->
<!-- [ngClass]="{'showModal': openModal}" -->
<!-- =============================== REview popup =============================== -->
<div class="modal fade" id="review{{ order._id }}Model" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">FeedBack</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="form" action="" [formGroup]="CommentForm">
        <div class="modal-body">
          <span id="rateMe2" class="empty-stars"></span>
          <div class="container">
            <ngb-rating [max]="5" [(rate)]="rate.value" formControlName="rate">
              <ng-template let-fill="fill" let-index="index">
                <span class="star" [class.filled]="fill === 100">&#9733;</span>
              </ng-template>
            </ngb-rating>
            <div class="
                starrating
                risingstar
                d-flex
                justify-content-center
                flex-row-reverse
              "></div>
          </div>

          <div class="input-group input-group-lg">
            <textarea formControlName="comment" type="text" rows="4" cols="50" class="form-control" aria-label="Large"
              placeholder="Give us your honest feedback"></textarea>
            <div class="text-danger" style="width: 100%;" *ngIf="comment.touched && comment.invalid">
              max length 1000
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSubmit()">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="order{{ order._id }}Model" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!-- START POPUP -->
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content" *ngIf="order; else dd">
      <div class="modal-header">
        <h3 class="card-title text-center mt-1">
          Your Request to {{ order.tailor_name }}
        </h3>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6">
              <!-- Start Carousel  -->

              <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
                style="height: 100% !important">
                <div class="carousel-indicators"></div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{ current_image }}" class="d-block w-100" style="min-height: 500px" />
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev" (click)="last_img()">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next" (click)="next_img()">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <!-- End Carousel  -->
            </div>
            <div class="col-1"></div>
            <div class="col-md-4">
              <h3 class="card-title mt-2 col-12">
                Request status: {{ order.status }}
              </h3>

              <!-- Start Customer Sizes Table  -->

              <table class="table table3-sm table-bordered w-100 mt-3">
                <thead>
                  <tr>
                    <th class="px-3 py-3 text-center" colspan="6">
                      Customer Sizes (CM)
                    </th>
                  </tr>
                </thead>
                <tbody class="tableBody">
                  <tr>
                    <td>Chest</td>
                    <td colspan="2">{{ order.customer_sizes.chest }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Shoulder</td>
                    <td colspan="2">{{ order.customer_sizes.shoulder }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Inseam</td>
                    <td colspan="2">{{ order.customer_sizes.inseam }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Waist</td>
                    <td colspan="2">{{ order.customer_sizes.waist }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td colspan="2">{{ order.customer_sizes.height }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Arm Length</td>
                    <td colspan="2">{{ order.customer_sizes.armLength }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Collar</td>
                    <td colspan="2">{{ order.customer_sizes.collar }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Thigh</td>
                    <td colspan="2">{{ order.customer_sizes.thigh }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                </tbody>
              </table>

              <!-- End Customer Sizes Table  -->

              <!-- div for Page division -->
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
    <!-- END POPUP -->
  </div>
</div>

<ng-template #dd>content here...</ng-template>
