.star {
    font-size: 3rem;
    color: #b0c4de;
}

.filled {
    color: #ffc93c;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}

.btn-primary{
  background-color: #2e86ab;
  border: 1px solid white;
}
.btn-primary:hover{
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}
