<span *ngIf="user && tailor">{{ tailor.name }} </span>
<button
  class="btn btn-primary float-end btn-sm"
  data-bs-toggle="modal"
  attr.data-bs-target="#order{{ order.id }}Model"
>
  View
</button>
<div
  class="modal fade"
  id="order{{ order.id }}Model"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <!-- START POPUP -->
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content" *ngIf="user && tailor; else dd">
      <div class="modal-header">
        <h3 class="card-title text-center mt-1">{{ user.name }}'s Request</h3>
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-6">

              <!-- Start Carousel  -->

              <div
                id="carouselExampleIndicators"
                class="carousel slide"
                data-bs-ride="carousel"
                style="height: 100% !important"
              >
                <div class="carousel-indicators"></div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img
                      src="{{ current_image }}"
                      class="d-block w-100"
                      style="min-height: 500px"
                    />
                  </div>
                </div>
                <button
                  class="carousel-control-prev"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="prev"
                  (click)="last_img()"
                >
                  <span
                    class="carousel-control-prev-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  data-bs-target="#carouselExampleIndicators"
                  data-bs-slide="next"
                  (click)="next_img()"
                >
                  <span
                    class="carousel-control-next-icon"
                    aria-hidden="true"
                  ></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

              <!-- End Carousel  -->
            </div>
            <div class="col-1"></div>
            <div class="col-md-4">
              <h3 class="card-title mt-2 col-12">
                Tailor Name: {{ tailor.name }}
              </h3>

              <!-- Start Customer Sizes Table  -->

              <table class="table table-sm table-bordered w-100 mt-3">
                <thead>
                  <tr>
                    <th class="px-3 py-3 text-center" colspan="6">
                      Customer Sizes (CM)
                    </th>
                  </tr>
                </thead>
                <tbody class="tableBody">
                  <tr>
                    <td>Chest</td>
                    <td colspan="2">{{ order.customer_sizes.chest }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Shoulder</td>
                    <td colspan="2">{{ order.customer_sizes.shoulder }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Inseam</td>
                    <td colspan="2">{{ order.customer_sizes.inseam }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Waist</td>
                    <td colspan="2">{{ order.customer_sizes.waist }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Height</td>
                    <td colspan="2">{{ order.customer_sizes.hight }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                  <tr>
                    <td>Arm Length</td>
                    <td colspan="2">{{ order.customer_sizes.armLength }}</td>
                    <!-- <td>CM</td> -->
                  </tr>
                </tbody>
              </table>

              <!-- End Customer Sizes Table  -->

              <!-- div for Page division -->
              <div class="col-1"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Decline
        </button>
        <button
          type="button"
          class="btn btn-primary form"
          data-bs-dismiss="modal"
        >
          Accept
        </button>
      </div>
    </div>
    <!-- END POPUP -->
  </div>
</div>

<ng-template #dd>content here...</ng-template>
