.star {
    font-size: 3rem;
    color: #b0c4de;
}

.filled {
    color: #ffc93c;
}

.bad {
    color: #deb0b0;
}

.filled.bad {
    color: #ff1e1e;
}

.btn-primary{
  background-color: #2e86ab;
  border: 1px solid white;
}
.btn-primary:hover{
  background-color: white;
  color: #2e86ab;
  border: 1px solid #2e86ab;
}


.nav-link.active {
  background-color: #2e86ab;
  color: white !important;
}

.nav-link {
  color: #2e86ab;
}

.chat {
  background-color: whitesmoke;
}
.massege {
  border: 2px solid rgb(226, 223, 223);
  border-radius: 15px;
  margin: 10px;
}
.chat .card .card-body {
  border-radius: 15px;
}

.commentArea {
  overflow-y: hidden;
}
