header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(../../../../assets/images/home10.jpg);
  background-size: cover;
  height: 33vh;
  background-attachment: fixed;
  border-radius: 0;
}

.heading-text h1 {
  font-size: 4vh;
}

.heading-text h4 {
  font-size: 2.5vh;
}

@media screen and (min-width: 768px) {
  .header {
    height: 55vh;
  }
  .heading-text h1 {
    font-size: 6vh;
    font-weight: bolder;
  }
  .heading-text h4 {
    font-size: 4.5vh;
  }
} /*End Header Styles*/

.input-group .btn {
  background: #2e86ab;
  border: none;
  font-weight: bold;
}

.input-group .btn:hover {
  /* background-color: #96cce2; */
  background-color: #062d3d;
  color: #6a98ac;
}
