<header class="header text-white border-0">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mt-2 mt-md-5 heading-text">
          <h1 class="text-center">Custom tailored dresses, suits and more!</h1>
          <h3 class="text-center text-md-0">
            Meet our tailors, discover the true personalization.
          </h3>
          <div class="col-md-8 md-form">
            <div class="search">
              <input
                type="search"
                class="form-control"
                [(ngModel)]="searchText"
                placeholder="Search text"
              />
              <button class="btn btn-primary" (click)="sendSearch()">
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
