header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url(../../../../assets/images/head.jpg);
  background-size: cover;
  background-position: center;
  height: 33vh;
  background-attachment: fixed;
  border-radius: 0;
}

.heading-text h1 {
  font-size: 4vh;
}

.heading-text h4 {
  font-size: 2.5vh;
}

@media screen and (min-width: 768px) {
  .header {
    height: 40vh;
  }
  .heading-text h1 {
    font-size: 6vh;
    font-weight: bolder;
  }
  .heading-text h4 {
    font-size: 4.5vh;
  }
} /*End Header Styles*/

.input-group .btn {
  background: #2e86ab;
  border: none;
}

.input-group .btn:hover {
  background-color: #96cce2;
  color: #0d1f2d;
}
