<header class="header text-white border-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5 mx-auto text-center heading-text">
        <h1>Discover true personalization!</h1>
        <h4 class=" mt-2">Meet our talented tailors.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-10 col-md-8 col-lg-5 mx-auto mt-4">
        <div class="input-group mx-auto">
          <input
            type="search"
            class="form-control"
            [(ngModel)]="searchText"
            placeholder="Find tailor by name"
          />
          <button class="btn btn-primary" (click)="sendSearch()">Search</button>
        </div>
      </div>
    </div>
  </div>
</header>
