<div class="side-bar">
  <div class="card ">
    <div class="card-header text-center">Orders
      <i class="fas fa-shopping-cart"></i>
    </div>
    <ul
      class="list-group list-group-flush"
      *ngIf="orders.length != 0; else nothingHere"
    >
      <li class="list-group-item" *ngFor="let order of orders">
        <app-customer-single-request
          *ngIf="!isTailor"
          [order]="order"
        ></app-customer-single-request>
        <app-tailor-single-request
          *ngIf="isTailor"
          [order]="order"
        ></app-tailor-single-request>
      </li>
    </ul>
    <div class="card-footer">
      <div class="mb-4"></div>
    </div>
  </div>
</div>
<ng-template #nothingHere >
  <div class="text-center" style="margin-top: 40px; font-size: 15px; font-weight: bold; padding: 5px;">You didn't have orders to display</div>
</ng-template>
